:root{
    font-size: 16px;
    --primary-color: #084468;
    --secondary-color: #EB1D96;
    --gray: #707070;
}

.navbar .container{
    border-bottom: 1px solid #084468;
    padding-bottom: 15px;
}
.nav-item{
    padding: 0 6px;
}
.nav-link{
    color: #084468;
    font-size: 18px;
}
.nav-link:hover{
    color: #EB1D96;
}
.donate{
    background-color: #EB1D96;
    color: #FFFFFF;
    padding: 4px 6px;
}
.nav-item .donate{
    color: #FFFFFF;
}

.content{
    margin-top: 3%;
}
.content .row .col .row .col{
    margin-top: 6%;
}
.title{
    background-color: #084468;
    color: #FFFFFF;
    padding: 4px 6px;
    font-size: 1.3rem;
}
.pink-title{
    color: #EB1D96;
    font-weight: bold;
    font-size: 2rem;
    padding: 5% 0 3% 0;
}
p{
    font-size: 1.3rem;
    font-weight: lighter;
    color: #707070;
    text-align: justify;
}
.col img{
    margin: 0 10%;
}
.white-title{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin: 0 auto;
}
.section-project{
    background-color: #084468;
    color: #FFFFFF;
    padding: 4% 9%;
    width: 100%;
}

.centered{
    text-align: center;
    margin: 0 auto;
}
.xp-list{
    margin-left: 100px;
}
.xp{
    margin-left: 50px;
    padding: 2% 0 2% 4%;
    border-left: 2px solid #FFFFFF;
    text-align: justify;
}
.justify-content-end{
    text-align: right;
    margin-right: 20px;
}
.section-activities, .section-activities .pink-title{
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

.section-donate{
    background-color: #EB1D96;
    color: #FFFFFF;
    padding: 4% 9%;
    width: 100%;
    text-align: center;
}
.lighter{
    font-weight: lighter;
    font-size: 1.5rem;
}
.section-footer, .section-footer a{
    text-align: center;
    margin: 0 auto;
    color: #084468;
}
.section-footer a:hover{
    color: #EB1D96;
}
.section-footer .row{
    width: 180px;
    margin: 0 auto;
}
.section-footer .row .col-md-4{
    padding: 0 2px;
}
.bi{
    font-size: 1.3rem;
}
.icon{
    background-color: #FFFFFF;
    border-radius: 10%;
    padding: 5%;
}